pandas>=2.0
numpy>=1.24
faiss-cpu>=1.7.4
rank-bm25>=0.2.2
jieba>=0.42.1
pyyaml>=6.0.1
sentence-transformers>=2.7.0
FlagEmbedding>=1.2.10
transformers>=4.43
accelerate>=0.33
gradio>=4.31
fastapi>=0.111
uvicorn>=0.30
